html,body {
    position: relative;
}
body {
    overflow-y: auto;
    min-height: 100vh;
  }
  footer {
    background: #f1f1f1;
    width: 100%;
    padding: 16px 0px;
    color: #999;
    vertical-align: bottom;
    margin-top: 40px;
    text-align: center;
    /* width: 100%; */
    /* height: 2.5rem;   */
  }
  .content {
    padding: 20px 0px;
    /* display: flex; */
    /* flex-wrap: wrap; */
  }
  .tile img {
    /* TODO: MODULE_CARDS */
    /* 1. Fill in the required properties. */
      width:100%;
      height:100%;
      transition: all 0.2s;
  }
  .adventure-card-text {
    margin: 1.5rem 0;
  }
  .adventure-card img {
    /* TODO: MODULE_ADVENTURES_GRID */
    /* 1. Fill in the required properties. */
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.2s all;
  }
  .adventure-card img:hover {
    /* TODO: MODULE_ADVENTURES_GRID */
    /* 1. Fill in the required properties. */
    filter: brightness(50%);
  }
  .adventure-card-image {
    /* TODO: MODULE_ADVENTURE_DETAILS */
    /* 1. Fill in the required properties. */
    width: 100%;
    height: 100%;
  }

  .hero-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-input {
    width: 80%;
    height: 50px;
    padding: 16px;
    border-radius: 8px;
    border: none;
  }

  .tile-text {
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .tile {
    /* TODO: MODULE_CARDS */
    /* 1. Fill in the required properties. */
    height:100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 8px;
    overflow: hidden;
    color: #fff;
  }

  .tile img {
    /* TODO: MODULE_CARDS */
    /* 1. Fill in the required properties. */
      width:100%;
      height:100%;
      transition: all 0.2s;
  }
  .tile img:hover {
    /* TODO: MODULE_CARDS */
    /* 1. Fill in the required properties. */
    filter: brightness(50%);
    transform: scale(1.1);
  }
  .adventure-detail-card {
    /* TODO: MODULE_ADVENTURE_DETAILS */
    /* 1. Fill in the required properties. */
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 16px;
  }